<% hall = params["hall"] || ([true, false].sample ? "folsom" : "dore"); %>
<div class="container">
  <div class="mt-0 mb-5 p-3 content-section">
    <div class="row">
      <div class="col-sm text-center <%= 'active' if (hall=='folsom') %>">
        <p class="h5"><%=  (hall=='folsom') ? "You are now viewing" : "Check out our other vendor hall" %></p>
        <a href="/vendors?hall=dore">
          <h3>Folsom Street Vendor Hall</h3>
        </a>
      </div>
      <div class="col-sm text-center <%= 'active' if (hall=='dore') %>">
        <p class="h5"><%=  (hall=='dore') ? "Welcome to" : "Check out our other vendor hall" %></p>
        <a href="/vendors?hall=dore">
          <h3 class="text-center">Dore Alley Vendor Hall</h3>
        </a>
      </div>
    </div>
    <iframe width="100%" height="720" src="https://www.artsteps.com/embed/<%= (hall=='folsom') ? '5f17d06c4348935fe5d4bd42' : '5f17e0252967620bbed82aa2' %>/1280/720" frameborder="0" allowfullscreen></iframe>
  </div>

  <div class="p-3 content-section vendor-list">
    <h3 class="text-center">List of Vendors</h3>
    <div class="my-3 text-center"> <h5 class="mx-auto text-center"> Folsom Street Vendor Hall </h5>
      <div class="container-flex">
        <% vendors("folsom").each_slice(2) do |two_vendors| %>
        <div class="row my-2">
          <% two_vendors.each do |vendor| %>
          <div class="col-sm text-center large">
            <a href="<%= vendor.link %>" <%= "title=#{vendor.caption}" if vendor.caption.present? %>>
              <%= vendor.name %>
            </a>
          </div>
          <% end %>
        </div>
        <% end %>
      </div>

    </div>
    <div class="my-3"> <h5 class="text-center"> Dore Alley Vendor Hall </h5>
      <div class="container-flex">
        <% vendors("dore").each_slice(2) do |two_vendors| %>
        <div class="row my-2">
          <% two_vendors.each do |vendor| %>
          <div class="col-sm text-center large">
            <a href="<%= vendor.link %>" <%= "title=#{vendor.caption}" if vendor.caption.present? %>>
              <%= vendor.name %>
            </a>
          </div>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  
</div>
