
<div id="scenes-carousel" class="carousel slide mx-auto" data-interval="5000" data-ride="carousel">
  <div class="carousel-inner">
    <% experience_partners.each_with_index do |exp,i| %>
    <% next unless exp.banner.present? %>
    <div data-target="#<%= exp.name.parameterize %>-modal" data-toggle="modal" class="carousel-item <%= 'active' if i==0 %>">
      <img class="d-block w-100" src="<%= url_for(exp.banner.variant(resize: '300x300>')) %>" title="<%= exp.name %> - <%= exp.subtitle %>" alt="<%= exp.tagline %>">
    </div>
    <% end %>
  </div>
  <a class="carousel-control-prev" href="#scenes-carousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#scenes-carousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<ul id="scenes-grid" class="container">
  <% experience_partners.each_slice(4) do |experiences| %>
  <div class="row">
    <% experiences.each do |exp| %>
    <% next unless exp.banner.present? %>
    <li class="cruise_space col-md mx-auto p-3" data-target="#<%= exp.name.parameterize %>-modal" data-toggle="modal" >
      <%= image_tag url_for(exp.banner.variant(resize: "250x250>")), alt: exp.name %>
    </li>
    <% end %>
  </div>
  <% end %>
</ul>

<% experience_partners.each do |exp| %>
<% next unless exp.banner.present? %>
<div class="scenes-modal modal fade" role="dialog" id="<%= exp.name.parameterize %>-modal">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <div class="modal-header mx-auto">
        <h3 class="modal-title"><%= exp.name %></h3>
      </div>
      <div class="modal-body text-center">
        <h4 class="modal-subtitle"><%= exp.subtitle %></h4>
        <a class="modal-image" href="<%= exp.link %>">
          <%= image_tag url_for(exp.banner.variant(resize: "300x300>")), alt: exp.name %>
        </a>
        <h4><%= exp.tagline %></h4>
        <div class="modal-caption">
          <%=raw exp.caption %>
          <p>Clicking on the above links will bring you to the community experience SCENE listed above. You will leave Folsom Street Events and all interaction will be presented and managed by the listed partner.</p>

          <p>Find the calendar of all events here: <a href="http://clashfinder.com/s/fsf2020/"> http://clashfinder.com/s/fsf2020/</a></p>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>      
  </div>
</div>
<% end %>
