<% hall = (params["hall"].to_sym || [:folsom,:dore,:ringold].sample); %>
<% hallcodes = {dore: '5f60f0512f0c7f100661dc78', folsom: '5f60e2244e100a103498bad7', ringold: '5f6e6df8fc5c770a2a55c65a'} %>


<div id="market-embed" class="text-center px-3">
  <iframe width="853" height="480" src="https://www.artsteps.com/embed/<%= hallcodes[hall] %>/853/480" frameborder="0" allowfullscreen></iframe>
</div>

<p class="m-5 text-center">To best navigate the vendor mart halls, use your WASD keys to move forward, backwards, left and right. Use the Q & E keys to look to the left or right. The vendor mart halls are best viewed on a desktop computer.<br>Click an image to see a description, and a link to copy and paste to visit the vendor's website.</p>

<div class="container">
  <div class="row">
    <div class="vendor-list col-md text-center <%= 'active' if (hall=='folsom') %>">
      <p class="h5"><%=  (hall == :folsom) ? "You are now viewing" : "Click to visit" %></p>
      <a href="/market?hall=folsom">
        <h3>Folsom Hall</h3>
      </a>
      <% get_sponsors('vendor-folsom').each do |vendor| %>
      <a href="<%= vendor.link %>">
        <p class="vendor"><%= vendor.name %></p>
      </a>
      <% end %>
    </div>
    
    <div class="vendor-list col-md text-center <%= 'active' if (hall=='dore') %>">
      <p class="h5"><%=  (hall == :dore) ? "Welcome to" : "Click to visit" %></p>
      <a href="/market?hall=dore">
        <h3 class="text-center">Dore Hall</h3>
      </a>
      <% get_sponsors('vendor-dore').each do |vendor| %>
      <a href="<%= vendor.link %>">
        <p class="vendor"><%= vendor.name %></p>
      </a>
      <% end %>
    </div>
    
    <div class="vendor-list col-md text-center <%= 'active' if (hall=='ringold') %>">
      <p class="h5"><%=  (hall == :ringold) ? "You are now viewing" : "Click to visit" %></p>
      <a href="/market?hall=ringold">
        <h3>Ringold Hall</h3>
      </a>
      <% get_sponsors('vendor-ringold').each do |vendor| %>
      <a href="<%= vendor.link %>">
        <p class="vendor"><%= vendor.name %></p>
      </a>
      <% end %>
    </div>

  </div>
</div>
