<% hall = params["hall"] || ([true, false].sample ? "folsom" : "dore"); %>
<div class="container">
  <div class="mt-0 mb-5 p-3 content-section">
    <iframe width="100%" height="720" src="https://www.artsteps.com/embed/<%= (hall=='folsom') ? '5f17d06c4348935fe5d4bd42' : '5f17e0252967620bbed82aa2' %>/1280/720" frameborder="0" allowfullscreen></iframe>

        <div class="row">
      <div class="col-sm text-center <%= 'active' if (hall=='folsom') %>">
        <p class="h5"><%=  (hall=='folsom') ? "You are now viewing" : "Check out our other vendor hall" %></p>
        <a href="/vendors?hall=folsom">
          <h3>Vendor Market 1</h3>
        </a>
        <p>  XXXXXX </p>
        <p>  XXXXXX </p>
      </div>
      <div class="col-sm text-center <%= 'active' if (hall=='dore') %>">
        <p class="h5"><%=  (hall=='dore') ? "Welcome to" : "Check out our other vendor hall" %></p>
        <a href="/vendors?hall=dore">
          <h3 class="text-center">Vendor Market 2</h3>
          <p>  XXXXXX </p>
          <p>  XXXXXX </p>
        </a>
      </div>
    </div>


  </div>

  
</div>
