<div id='login_register'>
  <div id="login_choice">
    <%= @login_choice_text %>
    <button onClick="$('div#login_choice').hide(); $('div#login-form').show()"> <%= t('sign_in') %> </button>
    <button  onClick="$('div#login_choice').hide(); $('div#register-form').show()"> <%= t('register') %> </button>
  </div>
  <%= render '/login' %>
  <%= render '/register' %>
</div>
