<nav class="navbar navbar-expand-lg align-items-baseline">

  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header mx-auto text-center">
      <a href="/"><%= image_tag( asset_path("logo_nav.png"),  class:"d-lg-none", alt:"Folsom Street Fair", width: "250" ) %></a>
      <button type="button" class="navbar-toggle d-lg-none my-3" data-toggle="collapse" data-target="#navbar-primary-collapse">
        <span class="my-1 icon-bar"></span>
        <span class="my-1 icon-bar"></span>
        <span class="my-1 icon-bar"></span>
      </button>
    </div>
    
    <div class="collapse navbar-collapse" id="navbar-primary-collapse">
      <ul class="row nav navbar-nav mx-auto align-items-center">
        <li class="col-lg  <%= 'active' if current_page?('/') %>"><a href="/donate">DONATE</a></li>
        <li class="col-lg  <%= 'active' if current_page?('/') %>"><a href="/scenes">SCENES</a></li>
        <li class="col-3-lg  <%= 'active' if current_page?('/') %> d-none d-lg-inline"><a href="/">
            <%= image_tag( asset_path("logo_nav.png"), id: "logo-navbar-middle",  alt:"Folsom Street Fair", width: "250" ) %>
            </a></li>
        <li class="col-sm  <%= 'active' if current_page?('/') %> dropdown">
          <a href="/market" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">MARKET</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item text-center" href="/market?hall=folsom">FOLSOM ST MARKET HALL</a>
            <a class="dropdown-item text-center" href="/market?hall=dore">DORE ALLEY MARKET HALL</a>
            <a class="dropdown-item text-center" href="/market?hall=ringold">RINGOLD ST MARKET HALL</a>
          </div>

        </li>
        <li class="col-sm  <%= 'active' if current_page?('/') %>" style="min-width:190px"><a href="/dj">DJ STREAM</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->

</nav>
