<!DOCTYPE html>
<html>
  <head>
    <%= render "/ga" %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-173572066-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-173572066-1');
    </script>

    <title>Folsom Street Fair</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'favicon.ico' %>
    
    <script> clash_name = "<%= clashfinder_name %>" </script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body id="fse_body" class="text-light">
    <div id="header-bar" class="container">
      <div class="row">
        <%= render '/navigation' %>
      </div>
      <div class="row">
        <%= render '/endorsements_top' %>
      </div>
    </div>
    <%#= render '/schedule/up_next' %>
    <div class="text-center">
      <%= render '/flash_msg' %>
    </div>
    <div id="primary-content" class="container-fluid">
      <div class="row">
        <div id="page-content" class="col-lg order-lg-2 mx-3 px-4">
          <%= yield %>
        </div>
      </div>
    </div>
    <%= render '/endorsements_bottom' %>
    <%= render '/footer' %>
  </body>
</html>
