<!DOCTYPE html>
<html>
  <head>
    <title>Folsom St Events</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render '/user_header' if current_user.present? %>
    <%= render '/masthead' %>
    <%= render '/navigation' %>
    <%= render '/endorsements' %>
    <%= render '/schedule' %>
    <%= render '/flash_msg' %>
    <%= yield %>

    <%= render '/footer' %>
  </body>
</html>
