<!DOCTYPE html>
<html>
  <head>
    <title>Folsom St Events</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script> clash_name = "<%= clashfinder_name %>" </script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>


    <body id="fse_body" class="text-light">
    <div id="header-bar" class="container">
      <div class="row">
        <div id="logo-div" class="col-sm text-right mt-3">
          <img src="<%= asset_path 'FSEventsLogo-bw.png' %>">
        </div>
      </div>
      <div class="row">
        <%= render '/navigation' %>
      </div>
    </div>
    <%#= render '/schedule' %>
    <div class="text-center">
      <%= render '/flash_msg' %>
    </div>
    <div id="primary-content" class="container">
      <div class="row">
            <%= yield %>
      </div>
      <div class="row">
        <%= render '/endorsements_singlerow' %>
      </div>
    </div>
    
    <%= render '/footer' %>
  </body>
</html>
