<!DOCTYPE html>
<html>
  <head>
    <%= render "/ga" %>
    <title>Up Your Alley</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('FSE_YELLOW_FLAV_16x16.png') %>
    
    <style>
      body#splash{
      background-repeat: repeat;
      background-image: url("<%= asset_path('uya_splash.png') %>");
      }
    </style>
  </head>

  <body id="splash">
  </body>
</html>
